<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:lang="http://www.springframework.org/schema/lang"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans">

	<mvc:annotation-driven />
	<context:component-scan base-package="com.dashboard.controller" />
	
	
	<tx:annotation-driven transaction-manager="hibernateTransactionManager"></tx:annotation-driven>

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property value="/WEB-INF/jsp/" name="prefix" />
		<property value=".jsp" name="suffix" />
	</bean>



	<bean id="adminService" class="com.dashboard.service.AdministratorImp"></bean>
	<bean id="studentService" class="com.dashboard.service.StudentImp"></bean>
	<bean id="trainerService" class="com.dashboard.service.TrainerImp"></bean>
	<bean id="user" class="com.dashboard.util.UserImpl"></bean>
	<bean id="authentication" class="com.dashboard.util.AuthenticationImpl"></bean>
	<bean id="studentDAO" class="com.dashboard.dao.StudentDAOImpl"></bean>
	<bean id="trainerDAO" class="com.dashboard.dao.TrainerDAOImpl"></bean>
	<bean id="adminDAO" class="com.dashboard.dao.AdminDAOImpl"></bean>

<bean id="trainer" class="com.dashboard.service.TrainerImp"></bean>
	
	<bean id="student" class="com.dashboard.service.StudentImp"></bean>


	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3307/newdb" />
		<property name="username" value="root"/>
		<property name="password" value=""/>
		</bean>


	<bean
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean"
		id="sessionFactory">
		<property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses">
			<list>
				<value>com.dashboard.beans.CredentialBean</value>
				<value>com.dashboard.beans.ProfileBean</value>
				<value>com.dashboard.beans.SkillBean</value>
				<value>com.dashboard.beans.ScheduleBean</value>
				<value>com.dashboard.beans.TrainerBean</value>
				<value>com.dashboard.beans.StudentSkillBean</value>
				<value>com.dashboard.beans.InterviewBean</value>
				<value>com.dashboard.beans.InterviewerBean</value>
				<value>com.dashboard.beans.IntervieweeBean</value>
				<value>com.dashboard.beans.ConflictBean</value>
			</list>
		</property>

		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
	</bean>


	<bean class="org.springframework.orm.hibernate3.HibernateTransactionManager"
		id="hibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

</beans>

